{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block conteudo %}

<h1>Bem Vindo</h1>

<form class="mobile" method="post" id="formLogin">

    <div class="input">
        <label for="usuario" tabindex="0">Identifique se com (CPF)</label>
        <input type="number" name="usuario" id="usuario" autocomplete="off">
    </div>

    <!--
    <div class="input" hidden>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
    </div>
    -->

    <div class="entrar">
        <input type="button" value="Cliente" id="cliente" tabindex="0">
        <input type="button" value="Funcionario" id="funcionario" tabindex="0">
    </div>

</form>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}