{% extends "base.html" %}
{% block style %}
<style>

* {margin: 0;box-sizing: border-box;font-family: monospace;}
body {width: 100%; height: 100%;}

div.menu-sist {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    padding: 10px 0;
}

div.menu-sist > div {
    width: 100%;
    font-size: 25px;
    padding: 25px 0;
    text-align: center;
    background: lightblue;
    border-bottom: solid 5px blue;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transition: .2s;
}

div.menu-sist > div:active {
    scale: 1.05;
    background: blue;
    color: white;
    border-bottom: solid 5px lightblue;
}

div.popup {
    position: absolute;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: auto;
    padding: 10px;
}

div.popup > div.frame {
    position: relative;
    width: 100%;
    height: 100%;
}

div.buscaCliente {
    position: relative;
    background: white;
    width: 100%;
    height: 60px;
}

div.buscaCliente > div {
    position: absolute;
}

div.buscaCliente > div.input {
    height: 100%;
    width: calc(100% - 60px);
    padding: 5px;
}

div.buscaCliente > div.input > input {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

div.buscaCliente > div.btnBuscar {
    height: 60px;
    width: 60px;
    right: 0;
}

div.buscaCliente > div.btnBuscar > img {
    width: 60px;
}

div.buscaCliente > div.btnBuscar > img:active {
    scale: .90;
}

div.frameDados {
    position: relative;
    background: white;
    width: 100%;
    height: calc(100% - 70px);
    margin-top: 10px;
}

div.frameDados > div.cliente {
    position: relative;
    width: 90%;
    border-bottom: solid 5px grey;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

div.frameDados > div.cliente > div.input {
    width: 100%;
    margin-top: 5px;
}

div.frameDados > div.cliente > div.input > input,
div.frameDados > div.cliente > div.input > label {
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

div.frameDados > div.veiculo {
    position: relative;
    width: 90%;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

div.frameDados > div.veiculo > div.tipo_veiculo {
    box-shadow: 0 0 5px grey;
}

#imgVeiculo.vermelho {
    filter: invert(27%) sepia(73%) saturate(7457%) hue-rotate(354deg) brightness(89%) contrast(127%);
}

#imgVeiculo.prata {
    filter: invert(82%) sepia(7%) saturate(14%) hue-rotate(319deg) brightness(99%) contrast(78%);
}

#imgVeiculo.azul {
    filter: invert(11%) sepia(99%) saturate(3978%) hue-rotate(243deg) brightness(112%) contrast(159%);
}

#imgVeiculo.verde {
    filter: invert(25%) sepia(99%) saturate(1502%) hue-rotate(95deg) brightness(96%) contrast(107%);
}


</style>
{% endblock %}

{% block conteudo %}

<div class="popup">

    <div class="frame">

        <div class="buscaCliente">

            <div class="input">
                <input type="number" name="cpf_cliente" id="cpf_cliente">
            </div>

            <div class="btnBuscar" id="btnBuscar">
                <img src="{{ url_for('static',filename='img/pesquisa.png') }}" alt="">
            </div>

        </div>

        <div class="frameDados">

            <div class="cliente">
                <h1>Cliente</h1>

                <div class="input">
                    <input type="text" name="nome_completo" id="nome_completo" disabled>
                </div>
                
                <div class="input">
                    <label for="nome_completo">Nome</label>
                    <input type="text" name="nome_completo" id="nome_completo">
                </div>

                <div class="input">
                    <label for="contato">Contato</label>
                    <input type="text" name="contato" id="contato">
                </div>

                <div class="input">
                    <label for="cpf">CPF - Acesso</label>
                    <input type="text" name="cpf_acesso" id="cpf_acesso">
                </div>

            </div>

            <div class="veiculo">
                <h1>Veiculo</h1>
                <img src="" alt="" id="imgVeiculo">

                <div class="tipo_veiculo">
                    <p>Caracteristicas</p>

                    Tipo
                    <select name="tipoVeiculo" id="tipoVeiculo">
                        <option value="0">-</option>
                        <option value="carro">Carro</option>
                        <option value="moto">Moto</option>
                    </select>

                    Cor
                    <select name="corVeiculo" id="corVeiculo">
                        <option value="0">-</option>
                        <option value="vermelho">Vermelho</option>
                        <option value="prata">Prata</option>
                        <option value="azul">Azul</option>
                        <option value="verde">Verde</option>
                    </select>


                </div>

            </div>


        </div>

    </div>

</div>

<div class="menu-sist">

    <div id="btnAtenderCliente" >Atender Cliente</div>
    <div>Iniciar Servico</div>
    <div hidden>Finalizar Servico</div>

</div>

{% endblock %}

{% block script %}
<script>

    const btnBuscar = document.getElementById("btnBuscar");
    const respostaServidor = document.getElementById("respostaServidor");
    const tipoVeiculo = document.getElementById("tipoVeiculo");
    const corVeiculo = document.getElementById("corVeiculo");

    tipoVeiculo.addEventListener("change",()=>{
        let imgVeiculo = document.getElementById("imgVeiculo");

        switch (tipoVeiculo.value) {
            case 'moto':
                imgVeiculo.src = "{{ url_for('static',filename='img/moto.png') }}";
                break;
        
            case 'carro':
                imgVeiculo.src = "{{ url_for('static',filename='img/carro.png') }}";
                break;

            default:
                imgVeiculo.src = "";
                break;
        }
    })

    
    corVeiculo.addEventListener("change",()=>{
        let imgVeiculo = document.getElementById("imgVeiculo");

        switch (corVeiculo.value) {
            case 'vermelho':
                imgVeiculo.setAttribute("class","vermelho");
                break;

            case 'prata':
                imgVeiculo.setAttribute("class","prata");
                break;            
            
            case 'azul':
                imgVeiculo.setAttribute("class","azul");
                break;

            case 'verde':
                imgVeiculo.setAttribute("class","verde");
                break;

            default:
                imgVeiculo.setAttribute("class","");
                break;
        }
    })

    function reqListener() {
        respostaServidor.innerHTML = this.responseText;
    }

    function pesquisaCliente(cpf){
        const req = new XMLHttpRequest();
        let host = document.location.host;
        req.addEventListener("load", reqListener);
        req.open("GET", `http://${host}/pesquisa_cliente/${cpf}`);
        req.send();
    }

    /*
    btnBuscar.addEventListener("click",()=>{
        let cpd_digitado = document.getElementById("cpf_cliente").value;

        if (cpd_digitado){
            pesquisaCliente(cpd_digitado)
        }

    })
    */


</script>
{% endblock %}