{% extends "base.html" %}
{% block style %}
<style>
    * {
        margin: 0;
        box-sizing: border-box;
        font-family: monospace;
    }

    body {
        width: 100%;
        height: 100%;
        background: lightgray;
    }

    div.menuSistema {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    div.menuSistema form {
        position: relative;
        top: 100px;
    }

    div.menuSistema div.input {
        width: 100%;
        padding: 10px 0;
    }

    div.menuSistema div.input button {
        width: 100%;
        font-size: 20px;
        border-radius: 10px;
        padding: 20px 0;
        border-bottom: solid 5px blue;
        background: lightblue;
        transition: .2s;
    }

    div.menuSistema div.input button:active {
        scale: .95;
    }

</style>
{% endblock %}

{% block conteudo %}

<div class="menuSistema">

    <form id="formInicio" method="post">

        <div class="input">
            <button type="submit" name="acao" value="iniciando_atendimento">Iniciar Atendimento</button>
        </div>

        <div class="input">

            {% if atendimento %}
                <button type="submit" name="acao" value="iniciando_servico">Iniciando Servico</button>
            {% else %}
                <button type="submit" name="acao" value="iniciando_servico" disabled>Iniciando Servico</button>
            {% endif %}
            
        </div>

        <div class="input">
            <button type="submit" name="acao" value="finalizando_servico" disabled>Finalizar Servico</button>
        </div>

    </form>

</div>

    {% if atendimento %}
        <textarea name="" id="atendimento" cols="30" rows="10" style=" position: absolute; display: none;">{{ atendimento }}</textarea>
    {% endif %}

{% endblock %}

{% block script %}
<script>

    const atend = document.getElementById("atendimento");
    const formAtendimento = document.getElementById("formInicio");


    /*
    const formInicio = document.getElementById("formInicio");
    const respostaServidor = document.getElementById("respostaServidor");

    function reqListener() {
        respostaServidor.innerHTML = this.responseText;
    }

    function pesquisaCliente(cpf) {
        const req = new XMLHttpRequest();
        let host = document.location.host;
        req.addEventListener("load", reqListener);
        req.open("GET", `http://${host}/pesquisa_cliente/${cpf}`);
        req.send();
    }
    */

</script>
{% endblock %}