{% extends "base.html" %}
{% block style %}
<style>

* {margin: 0;box-sizing: border-box;font-family: monospace;}
body {width: 100%; height: 100%;}

div.menu-sist {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    padding: 10px 0;
}

div.menu-sist > div {
    width: 100%;
    font-size: 25px;
    padding: 25px 0;
    text-align: center;
    background: lightblue;
    border-bottom: solid 5px blue;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transition: .2s;
}

div.menu-sist > div:active {
    scale: 1.05;
    background: blue;
    color: white;
    border-bottom: solid 5px lightblue;
}

div.popup {
    position: absolute;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: auto;
    padding: 10px;
}

div.popup > div.frame {
    position: relative;
    width: 100%;
    height: 100%;
}

div.buscaCliente {
    position: relative;
    background: white;
    width: 100%;
    height: 60px;
}

div.buscaCliente > div {
    position: absolute;
}

div.buscaCliente > div.input {
    height: 100%;
    width: calc(100% - 60px);
    padding: 5px;
}

div.buscaCliente > div.input > input {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

div.buscaCliente > div.btnBuscar {
    height: 60px;
    width: 60px;
    right: 0;
}

div.buscaCliente > div.btnBuscar > img {
    width: 60px;
}

div.buscaCliente > div.btnBuscar > img:active {
    scale: .90;
}

div.frameDados {
    position: relative;
    background: white;
    width: 100%;
    height: calc(100% - 70px);
    margin-top: 10px;
}


</style>
{% endblock %}

{% block conteudo %}

<div class="popup">

    <div class="frame">

        <div class="buscaCliente">

            <div class="input">
                <input type="number" name="cpf_cliente" id="cpf_cliente">
            </div>

            <div class="btnBuscar" id="btnBuscar">
                <img src="{{ url_for('static',filename='img/pesquisa.png') }}" alt="">
            </div>

        </div>

        <div class="frameDados">

            <h1 id="respostaServidor">Inicie buscando o cliente</h1>

        </div>

    </div>

</div>

<div class="menu-sist">

    <div id="btnAtenderCliente" >Atender Cliente</div>
    <div>Iniciar Servico</div>
    <div hidden>Finalizar Servico</div>

</div>

{% endblock %}

{% block script %}
<script>

    const btnBuscar = document.getElementById("btnBuscar");
    const respostaServidor = document.getElementById("respostaServidor");

    function reqListener() {
        respostaServidor.innerHTML = this.responseText;
    }

    function pesquisaCliente(cpf){
        const req = new XMLHttpRequest();
        let host = document.location.host;
        req.addEventListener("load", reqListener);
        req.open("GET", `http://${host}/pesquisa_cliente/${cpf}`);
        req.send();
    }

    btnBuscar.addEventListener("click",()=>{
        let cpd_digitado = document.getElementById("cpf_cliente").value;

        if (cpd_digitado){
            pesquisaCliente(cpd_digitado)
        }

    })


</script>
{% endblock %}