{% extends "base.html" %}
{% block style %}

<style>
    * {
        margin: 0;
        box-sizing: border-box;
        font-family: monospace;
    }

    body {
        width: 100%;
        height: 100%;
        background: lightgray;
        transition: .2s;
    }

    div {user-select: none;}

    /* Estilo veiculo */
    div.veiculo {
        position: absolute;
        width: 100%;
        height: 100px;
        padding: 5px;
        display: flex;
        border-bottom: solid 3px grey;
    }

    div.veiculo div.img {
        position: relative;
        width: 100px;
        height: 100%;
        padding: 10px;
        box-shadow: 0 0 5px black;
        border-radius: 5px;
    }

    div.veiculo div.img img {
        width: 100%;
    }

    div.veiculo div.info {
        position: relative;
        height: 100%;
        width: calc(100% - 100px);
        right: 0;
        font-size: 18px;
        padding: 5px;
        overflow: hidden;
        border-radius: 15px;
        padding-left: 15px;
    }

    div.veiculo div.info p {
        margin-top: 2px;
    }

    /* Estilo servico */
    div.servico {
        position: absolute;
        width: 100%;
        height: calc(100% - 100px);
        bottom: 0;
        overflow: auto;
        padding: 10px;
    }

    div.servico.desable {
        filter: blur(10px);
    }

    div.servico div.adicionar {
        width: 100%;
        height: 60px;
        text-align: center;
        border-radius: 20px;
        background: rgba(255, 172, 28, .8);
        padding: 6px 0;
        border-bottom: solid 2px orange;
    }

    div.servico div.adicionar img {
        height: 100%;
    }

    div.servico div.finalizar {
        width: 100%;
        height: 60px;
        text-align: center;
        border-radius: 20px;
        background: rgba(255, 255, 100, .5);
        filter: invert(31%) sepia(88%) saturate(1025%) hue-rotate(86deg) brightness(97%) contrast(108%);
        padding: 6px 0;
        border-bottom: solid 2px green;
        margin-top: 10px;
    }

    div.servico div.finalizar img {
        height: 100%;
    }

    div.servico div.listaServico {
        width: 100%;
        height: calc(100% - 140px);
        padding: 10px;
        overflow: auto;
        margin-top: 10px;
        box-shadow: 0 0 2px black;
        border-radius: 5px;
    }

    div.servico div.listaServico div.itemServico {
        height: 100px;
        border-left: solid 8px orange;
        width: 100%;
        margin-top: 8px;
        border-radius: 10px;
        background: lightblue;
    }

    div.servico div.listaServico div.itemServico p {
        font-size: 20px;
        margin-top: 5px;
        padding-left: 10px;
        width: 100%;
    }

    div.servico div.listaServico div.itemServico p.obs {
        font-size: 15px;
        height: calc(100% - 28px);
        overflow: hidden;
    }

    /*Add servico Item popup*/
    div.addServicoItemPopUp {
        background: rgba(0, 0, 0, .5);
        position: absolute;
        width: 100%;
        height: calc(100% - 100px);
        bottom: 0;
        scale: 0;
        padding: 30px;
    }

    div.addServicoItemPopUp.visible {
        scale: 1;
    }

    div.addServicoItemPopUp div.input {
        width: 100%;
        padding: 5px 0;
        margin-top: 10px;
    }

    div.addServicoItemPopUp div.input label {
        background: rgba(255, 255, 255, .5);
    }

    div.addServicoItemPopUp div.input label,
    div.addServicoItemPopUp div.input input,
    div.addServicoItemPopUp div.input textarea {
        width: 100%;
        padding: 5px;
        font-size: 18px;
    }

    div.addServicoItemPopUp div.input input,
    div.addServicoItemPopUp div.input textarea {
        margin-top: 8px;
    }

    div.addServicoItemPopUp div.input textarea {
        height: 100px;
    }

    div.addServicoItemPopUp div.input input[type="submit"] {
        margin: 0;
        position: relative;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        bottom: 0;
    }


</style>

{% endblock %}

{% block conteudo %}

<div class="veiculo">

    <div class="img">
        <img src="./static/img/carro.png" alt="">
    </div>
    <div class="info">

        <p>Tipo.....: Carro</p>
        <p>Cor......: Preto</p>
        <p>Placa....: PNN-4553</p>

    </div>

</div>

<div class="servico" id="displayServico">

    <div class="adicionar" id="formNovoReparo">
        <img src="./static/img/adicionar.png" alt="">
    </div>

    <div class="listaServico" id="listaServico">
    </div>

    <div class="finalizar">
        <img src="./static/img/finalizar.png" alt="">
    </div>

</div>


<form method="post">

    <div class="addServicoItemPopUp" id="popup">

        <input type="text" name="idCliente" value="{{ atendimento.idUsuario }}">
        <input type="text" name="nome_cliente" value="{{ atendimento.nome_cliente }}">
        <input type="text" name="placa_veiculo" value="{{ atendimento.placa_veiculo }}">
    
        <div class="input">
            <label for="servicoRealizado">Reparo realizado</label>
            <input type="text" name="servico_realizado" id="servicoRealizado" autocomplete="off">
        </div>
    
        <div class="input">
            <label for="servicoRealizadoObs">Observação</label>
            <textarea name="obs_servico" id="servicoRealizadoObs" cols="30" rows="10" autocomplete="off"></textarea>
        </div>
    
        <div class="input">
            <input type="submit" value="Adicionar" name="acao_servico" id="addReparo">
        </div>
    
    </div>
    
</form>

{% endblock %}

{% block script %}

<script>

    const formNovoReparo = document.getElementById("formNovoReparo");
    const addReparo = document.getElementById("addReparo");
    const listaServico = document.getElementById("listaServico");

    formNovoReparo.addEventListener("click",novoReparo);

    function novoReparo(){
        let popup = document.getElementById("popup");
        let displayServico = document.getElementById("displayServico");

        popup.classList.toggle("visible");
        displayServico.classList.toggle("desable");
    }

    addReparo.addEventListener("click",()=>{
        let servicoRealizado = document.getElementById("servicoRealizado");
        let servicoRealizadoObs = document.getElementById("servicoRealizadoObs");

        if ( servicoRealizado.value !== null )
        {   
            // Instanciando elementos na memoria
            let itemServico = document.createElement("div");
            let reparoRealizado = document.createElement("p");
            let obsReparo = document.createElement("p");

            // Definindo class
            itemServico.classList.add("itemServico");
            obsReparo.classList.add("obs");
            
            // Definindo conteudos das tags <p>
            reparoRealizado.innerHTML = `<strong>Serviço : ${servicoRealizado.value}</strong>`
            obsReparo.innerHTML = `Obs : ${servicoRealizadoObs.value}`

            // Unindo elemento instanciados
            itemServico.appendChild(reparoRealizado);
            itemServico.appendChild(obsReparo);

            // Inserindo um novo reparo
            listaServico.appendChild(itemServico);
            
            novoReparo();
        }

        servicoRealizado.value = null;
        servicoRealizadoObs.value = null;
    })

    `
    <div class="itemServico">

        <p>Reparo...: Realizado</p>
        <p class="obs">Obs......:
            <br>Foi realizado reparo na bidoba da radioala
        </p>

    </div>
    `

</script>

{% endblock %}